.catkin_workspace
build/
devel/
.vscode
*.bag
*.pth
*.pkl
catkin_ws/bin/
catkin_ws/include/
catkin_ws/lib/
catkin_ws/share/
.catkin_tools/
*.swp
*.pyc
f_cost.txt
*.graph
CATKIN_IGNORE
*.so
.vscode
*.wav
output/
*.mp4
*.mkv
subt-urban-coco-dataset/
*.zip